#map {  
        height:600px;
        width: 100%;

       }


.token_content{
  height:680px;
  padding-top:50px;
  margin-bottom:15px;
}



.column-left{ 
  height: 90%;
	word-wrap: break-word;
	word-break: normal;
	overflow:scroll;
  float: left; 
  width: 25%; 
  font-size:10pt;
  text-align:justify;
}
.column-right{ 
  padding:2%;
  height: 90%;
  float: right; 
  width: 37%; 
}
.column-center{ 
  padding:2%;
  height: 90%;
  display: inline-block; 
  width: 37%; 
  
}



